body{
    user-select: none;
}

body>h1{
    margin-bottom: 50px;
    font-size: 50px;
}


#monInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 75%;
    margin-bottom: 10px;
    resize: none;
    height: 200px;
}

#monBouton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}
footer h1{
    font-size: 12px;
}